@import "./variables";

html,
body {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  background-image: url("./assets/footer_wave.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  overflow-x: hidden;

  @media (max-width: 414px) {
    background-size: 150%;
  }

  @media (max-width: 280px) {
    background-size: 350%;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 60%;
  margin: auto;
  padding-bottom: 20px;
  min-height: 10vh;
  padding-top: 20px;

  .img-container {
    width: 100px;
    img {
      width: 50px;
    }
  }

  .status_move {
    display: flex;
    align-items: center;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 10px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    background-color: $neutral;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;

    .indicator {
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
      transition: background-color 0.5s;

      &.player_one {
        background-color: $color2;
      }
      &.player_two {
        background-color: $color3;
      }
    }

    .winner {
      font-size: 20px;
      font-weight: 600;
    }
  }

  button {
    width: 100px;
    border-radius: 30px;
    padding: 10px 15px;
    border: 2px solid $color1;
    color: $neutral;
    font-size: 12px;
    background: $color1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s ease;

    &:hover {
      box-shadow: 0 3px 3px $primary;
    }

    &.clicked {
      transform: translateY(2px);
    }
  }

  @media (max-width: 912px) {
    width: 80%;
    align-items: center;
  }
}

main {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;

  > div {
    &:nth-child(1) {
      margin: 0 0 0 auto;
    }
    &:nth-child(3) {
      margin: 0 auto 0 0;
    }

    &:nth-child(1),
    &:nth-child(3) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid $neutral1;
      background-color: $neutral;
      box-shadow: 0 6px 6px $primary;
      padding: 10px 30px;
      min-width: 5vw;
      border-radius: 15px;
      letter-spacing: 1px;

      img {
        width: 60px;
        position: relative;
        top: -40px;
      }

      span {
        &.score {
          font-size: 35px;
          font-weight: 600;
        }

        &:nth-child(2) {
          position: relative;
          top: -30px;
        }
      }
    }
  }

  @media (max-width: 912px) {
    flex-direction: column;
    margin-bottom: 150px;
    position: relative;

    > div {
      &:nth-child(1) {
        position: absolute;
        bottom: -130px;
        left: 5%;
        order: 2;
        margin: 0;
        z-index: 10;
      }
      &:nth-child(3) {
        margin: 0;
        position: absolute;
        bottom: -130px;
        right: 5%;
        order: 3;
        z-index: 10;
      }
    }
  }
  @media (max-width: 280px) {
    > div {
      &:nth-child(1),
      &:nth-child(3) {
        padding: 5px 20px;
      }
    }
  }

  @media (max-height: 1400px) and (orientation: portrait) {
    margin-bottom: 500px;
  }

  @media (max-height: 1180px) and (orientation: portrait) {
    margin-bottom: 350px;
  }

  @media (max-height: 915px) and (orientation: portrait) {
    margin-bottom: 250px;
  }

  @media (max-height: 799px) and (orientation: landscape) {
    min-height: 500px;

    .game {
      height: 90vh;
    }
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    .game {
      height: 65vh;
    }
  }

  @media (max-height: 600px) and (orientation: landscape) {
    .game {
      height: 90vh;
    }
  }

  @media (max-height: 500px) and (orientation: landscape) {
    .game {
      height: 100vh;
    }
  }
}

.game {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex: 1;
  height: 70vh;
  max-width: 60%;
  margin: 3vh 5vh;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: $primary_bg;
  backdrop-filter: blur(30px);
  box-shadow: 0 10px 6px $primary;
  border: 1px solid $primary;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .board {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: $primary_bg;

    .circle {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: $primary_bg;
      margin: 10px;
      box-shadow: inset 0 8px 1px $primary;
      border: 2px solid $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 1s;

      &.red,
      &.yellow {
        cursor: auto;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          border-radius: 50%;
          box-shadow: inset 0 4px 3px $primary;
          border: 2px solid $primary;
          animation: fallingAnimation 1s forwards;
        }
      }

      @keyframes fallingAnimation {
        0% {
          transform: translate(0%, -700px);
        }
        100% {
          transform: translate(0%, 0%);
        }
      }

      &.red {
        &::before {
          background-color: $color2;
        }
      }
      &.yellow {
        &::before {
          background-color: $color3;
        }
      }

      @media (max-width: 1080px) {
        width: 60px;
        height: 60px;
      }

      @media (max-width: 980px) {
        width: 50px;
        height: 50px;
      }

      @media (max-width: 540px) {
        width: 40px;
        height: 40px;
      }

      @media (max-width: 414px) {
        width: 25px;
        height: 25px;
      }
    }

    .col {
      position: relative;
      transition: opacity 0.2s;

      &:hover {
        &::before {
          content: "";
          position: absolute;
          top: -40px;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid $color7;
          z-index: 3;
          animation: fadeIn 1.5s;
        }

        &.sealed {
          &::before {
            content: none;
          }
        }
      }

      &.sealed {
        .circle {
          cursor: not-allowed;
          background-color: $neutral1;
        }
      }
    }
  }

  @media (max-width: 1080px) {
    height: 65vh;
  }

  @media (max-width: 980px) {
    height: 55vh;
  }

  @media (max-width: 912px) {
    align-self: center;
    max-width: 100vw;
    width: 90%;
    margin-bottom: 70px;
    overflow: hidden;
  }

  @media (max-width: 360px) {
    width: 95%;
  }
}

footer {
  display: flex;

  .footer-content {
    margin: auto;
    display: flex;

    svg {
      width: 35px;
    }

    p {
      display: flex;
      flex-direction: column;
      padding-left: 10px;

      span {
        font-size: 16px;
        color: $neutral;

        &:nth-child(2) {
          color: $copyright;
          line-height: 1.5;

          a {
            color: inherit;

            &:hover {
              color: $owner_hover;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  @media (max-width: 280px) {
    margin: 0 10px;
  }
}
