// Background
$primary_bg: #faf9f9;

// Color Palatte
$primary: #000;
$neutral: #fff;
$color1: #b59ce8;
$color2: #fb6e57;
$color3: #ffd160;
$color7: #674d6e;

// // Footer Text
$copyright: $neutral;
$owner_hover: $color7;
